<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <input type="text" placeholder="Input messsage" v-model="message" />

                    <button @click="sendMessage">Send</button>
                    <textarea rows="6" readonly class="form-control">
                        {{ dataMessages.join("\n") }}
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        data: function() {
            return {
                dataMessages: [],
                message: "",
            }
        },

        mounted() {
            var socket = io.connect("localhost:3000");

            socket.on("chat-action:App\\Events\\NewMessage", (data) => {
                this.dataMessages.push(data.result);
            });
            console.log('Component mounted.')
        },
        methods: {
            sendMessage: function() {
                axios.get({
                    method:"get",
                    url: "chat/send-message",
                    params: { message: this.message }
                }).then((response) => {
                    this.message = '';
                })
            },
        },

    }
</script>
